@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800;900&family=Open+Sans:wght@700&family=Work+Sans:wght@700;900&display=swap");
@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/century_gothic.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/century_gothic.eot?#iefix") format("embedded-opentype"), url("../fonts/century_gothic.woff2") format("woff2"), url("../fonts/century_gothic.woff") format("woff"), url("../fonts/century_gothic.ttf") format("truetype"), url("../fonts/century_gothic.svg#century_gothic") format("svg");
  /* Chrome < 4, Legacy iOS */
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font */
/* decor */
/* buttons */
/* link */
/* workpieces */
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.logo {
  width: 206px;
  height: 80px;
  background: url("../assets/icon/logo.svg") center no-repeat;
}

/* .button {
  border: none;
  outline: none;

  cursor: pointer;

  font-family: 'Montserrat';

  &:hover {
    opacity: 0.8;
  }
} */
/* mixin */
.header {
  padding: 20px 0 57px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__decor-line {
  width: 2px;
  height: 80px;
  margin: 0 45px;
  background: url("../assets/icon/decor-line.png") center no-repeat;
}

.header__title {
  max-width: 380px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.header__tel {
  margin-left: auto;
  margin-right: 51px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
.header__tel::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url("../assets/icon/phone.svg") center no-repeat;
}

.header__button {
  position: relative;
  width: 250px;
  height: 50px;
  background: #ffc633;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Montserrat";
  transition: 0.25s linear;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
.header__button:hover {
  opacity: 0.8;
}
.header__button:active {
  transform: scale(0.98);
}

.footer {
  padding: 15px 0;
  height: 64px;
  background: rgba(230, 229, 234, 0.1490196078);
}

.footer-text {
  font-family: "Century Gothic";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4a4a4a;
}

.footer_link {
  color: #f8b500;
}

/* first-section */
.first-section {
  min-height: 738px;
  background: url("../assets/img/bg_city.jpg") center/cover no-repeat;
}

.first-section__container {
  display: flex;
  justify-content: space-between;
  padding: 68px 0 209px 0;
}

.first-section__info {
  max-width: 655px;
  padding: 24px 0 0 0;
}

.first-section__main-title {
  font-weight: 800;
  font-size: 67px;
  line-height: 70px;
  text-transform: uppercase;
  color: #ffffff;
}
.first-section__main-title span {
  font-weight: 300;
  font-size: 29px;
  line-height: 70px;
}

.first-section__decor-line {
  width: 462px;
  height: 2px;
  margin: 30px auto;
  background: url("../assets/icon/decor-line_big.png") center no-repeat;
}

.first-section__second-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: #ffffff;
}

.first-section__text {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}
.first-section__text span {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #ffc633;
}
.first-section__text:last-child {
  margin-bottom: 0;
}

.first-form {
  width: 890px;
  height: 461px;
  padding: 79px 45px 50px 53px;
  background-color: #ffc633;
  box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  text-align: center;
}

.first-form__title {
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 87px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.first-form__title span {
  font-weight: 400;
  font-size: 29px;
  letter-spacing: 0.1em;
}

.first-form__text {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.first-form__input-wrap {
  margin-bottom: 28px;
}

.first-form__input {
  width: 100%;
  max-width: 385px;
  height: 65px;
  padding: 17px 20px 20px 20px;
  margin-right: 16px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}
.first-form__input:last-child {
  margin-right: 0;
}
.first-form__input::-moz-placeholder {
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 19px;
  line-height: 23px;
  color: #5c5c5c;
}
.first-form__input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 19px;
  line-height: 23px;
  color: #5c5c5c;
}
.first-form__input::placeholder {
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 19px;
  line-height: 23px;
  color: #5c5c5c;
}

.first-form__button {
  position: relative;
  width: 355px;
  height: 65px;
  background: #24173d;
  border-radius: 43px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Montserrat";
  transition: 0.25s linear;
  box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}
.first-form__button:hover {
  opacity: 0.8;
}
.first-form__button:active {
  transform: scale(0.98);
}

/* benefits-section */
.benefits-section {
  width: 100%;
  max-width: 1780px;
  margin: 31px auto 0;
  background: url("../assets/icon/frame.png") center no-repeat;
}

.benefits-section__title {
  position: relative;
  top: 10px;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: #24173d;
}

.benefits-section__container {
  height: 463px;
  padding-top: 83px;
}

.benefits-section__list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  min-height: 230px;
}

.benefits-section__item {
  position: relative;
  padding-left: 120px;
  margin-right: 20px;
  width: 100%;
  max-width: 520px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #24173d;
}
.benefits-section__item:nth-child(3n) {
  margin-right: 0;
}
.benefits-section__item::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  width: 80px;
  height: 80px;
}
.benefits-section__item.benefits-section__item_bitcoin::before {
  background: url("../assets/icon/bitcoin.svg") center/contain no-repeat;
}
.benefits-section__item.benefits-section__item_installment-plan::before {
  background: url("../assets/icon/installment_plan.svg") center/contain no-repeat;
}
.benefits-section__item.benefits-section__item_control::before {
  background: url("../assets/icon/control.svg") center/contain no-repeat;
}
.benefits-section__item.benefits-section__item_income {
  padding-left: 109px;
}
.benefits-section__item.benefits-section__item_income::before {
  width: 68px;
  background: url("../assets/icon/income.svg") center/contain no-repeat;
}
.benefits-section__item.benefits-section__item_visa {
  padding-left: 105px;
}
.benefits-section__item.benefits-section__item_visa::before {
  width: 69px;
  background: url("../assets/icon/visa.svg") center/contain no-repeat;
}
.benefits-section__item.benefits-section__item_credit::before {
  background: url("../assets/icon/credit.svg") center/contain no-repeat;
}

/* property-section */
.property-section__title {
  margin-bottom: 59px;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #24173d;
}

.property-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
}

.property-item {
  flex: 1 1 630px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 20px;
  height: 416px;
  padding: 0 0 30px 0;
}

.property-item_studios {
  background: url("../assets/img/studios.jpg") center/cover no-repeat;
}

.property-item_apartments {
  background: url("../assets/img/apartments.jpg") center/cover no-repeat;
}

.property-item_penthouses {
  background: url("../assets/img/penthouses.jpg") center/cover no-repeat;
}

.property-item_townhouse {
  background: url("../assets/img/townhouse.jpg") center/cover no-repeat;
}

.property-item_villas {
  background: url("../assets/img/villas.jpg") center/cover no-repeat;
}

.property-item__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.property-item__button {
  position: relative;
  width: 258px;
  height: 46px;
  background: #fac86e;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Montserrat";
  transition: 0.25s linear;
  box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
  font-weight: 600;
  font-size: 16px;
  color: #24173d;
}
.property-item__button:hover {
  opacity: 0.8;
}
.property-item__button:active {
  transform: scale(0.98);
}

/* data-section */
.data-section {
  padding: 130px 0 88px 25px;
}

.data-section__container {
  display: flex;
  align-items: center;
  max-width: 1651px;
  height: 321px;
}

.data-section__title {
  flex: 1;
  padding: 15px 0 15px 31px;
  border-left: 5px solid #24173d;
  font-weight: 900;
  font-size: 44px;
  line-height: 77px;
  text-transform: uppercase;
  color: #24173d;
}

.data-list {
  display: flex;
  width: 841px;
  padding: 56px 50px 56px 50px;
  background-color: #ffc633;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 0px 0px 30px;
}

.data-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 116px;
}
.data-item:last-child {
  margin-right: 0;
}

.data-item__text {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.data-item__index {
  margin: 22px 0;
  height: 93px;
  padding: 8px 0 0 5px;
  font-weight: 800;
  font-size: 70px;
  color: #24173d;
  border: 1px solid #ffffff;
  border-left: none;
  border-right: none;
}
.data-item__index span {
  font-size: 30px;
}

/*  consultation-section */
.consultation-section {
  padding: 80px 0 90px 0;
  height: 398px;
  background: url("../assets/img/bg_city_2.jpg") center/cover no-repeat;
}

.consultation-form__title {
  padding: 0 0 18px 0;
  font-weight: 800;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
}

.consultation-form__text {
  margin-bottom: 62px;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
}

.consultation-form__input-wrap {
  display: flex;
  gap: 20px;
  max-width: 1060px;
  margin: 0 auto;
}

.consultation-form__input {
  width: 100%;
  max-width: 385px;
  height: 57px;
  padding: 0 0 0 18px;
}
.consultation-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat";
  color: #383838;
}
.consultation-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat";
  color: #383838;
}
.consultation-form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat";
  color: #383838;
}

.consultation-form__button {
  position: relative;
  width: 250px;
  height: 57px;
  background: #ffc633;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Montserrat";
  transition: 0.25s linear;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #24173d;
}
.consultation-form__button:hover {
  opacity: 0.8;
}
.consultation-form__button:active {
  transform: scale(0.98);
}

/* logo-section */
.logo-section {
  padding: 70px 0 36px 0;
  text-align: center;
}

.logo-section__logo {
  display: inline-block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #24173d;
}