/* first-section */

.first-section {
  min-height: 738px;
  background: url('../assets/img/bg_city.jpg') center no-repeat;
}

.first-section__container {
  display: flex;
  justify-content: space-between;

  padding: 68px 0 209px 0;
}

.first-section__info {
  max-width: 655px;
  padding: 24px 0 0 0;
}

.first-section__main-title {
  font-weight: 800;
  font-size: 67px;
  line-height: 70px;
  text-transform: uppercase;
  color: $second_fonts_color;

  span {
    font-weight: 300;
    font-size: 29px;
    line-height: 70px;
  }
}

.first-section__decor-line {
  width: 462px;
  height: 2px;
  margin: 30px auto;

  background: url('../assets/icon/decor-line_big.png') center no-repeat;
}

.first-section__second-title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 56px;
  line-height: 60px;

  color: $second_fonts_color;
}

.first-section__text {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: $second_fonts_color;

  span {
    font-weight: 700;
    color: $decor_color;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.first-form {
  width: 890px;
  height: 461px;
  padding: 79px 45px 50px 53px;

  background-color: $decor_color;
  box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  text-align: center;
}
.first-form__title {
  margin-bottom: 8px;

  font-weight: 800;
  font-size: 87px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  span {
    font-weight: 400;
    font-size: 29px;

    letter-spacing: 0.1em;
  }
}

.first-form__text {
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $second_fonts_color;
}

.first-form__input-wrap {
  margin-bottom: 28px;
}

.first-form__input {
  width: 100%;
  max-width: 385px;
  height: 65px;

  padding: 17px 20px 20px 20px;
  margin-right: 16px;

  border: none;
  border-radius: 5px;

  font-size: 24px;

  &:last-child {
    margin-right: 0;
  }

  &::placeholder {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 19px;
    line-height: 23px;

    color: #5c5c5c;
  }
}

.first-form__button {
  width: 355px;
  height: 65px;

  background: #24173d;
  box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
  border-radius: 43px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: $second_fonts_color;
}

/* benefits-section */

.benefits-section {
  margin: 31px 0 0 0;
  background: url('../assets/icon/frame.png') center no-repeat;
}

.benefits-section__title {
  position: relative;
  top: 10px;

  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: $main_fonts_color;
}

.benefits-section__container {
  height: 463px;

  padding-top: 83px;
}

.benefits-section__list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  height: 230px;
}

.benefits-section__item {
  position: relative;

  padding-left: 120px;
  margin-right: 20px;
  width: 100%;
  max-width: 520px;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;

  color: $main_fonts_color;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &::before {
    content: '';

    position: absolute;
    top: -13px;
    left: 0;

    width: 80px;
    height: 80px;
  }

  &.benefits-section__item_bitcoin::before {
    background: url('../assets/icon/bitcoin.svg') center/contain no-repeat;
  }
  &.benefits-section__item_installment-plan::before {
    background: url('../assets/icon/installment_plan.svg') center/contain
      no-repeat;
  }
  &.benefits-section__item_control::before {
    background: url('../assets/icon/control.svg') center/contain no-repeat;
  }

  &.benefits-section__item_income {
    padding-left: 109px;
  }
  &.benefits-section__item_income::before {
    width: 68px;
    background: url('../assets/icon/income.svg') center/contain no-repeat;
  }
  &.benefits-section__item_visa {
    padding-left: 105px;
  }
  &.benefits-section__item_visa::before {
    width: 69px;
    background: url('../assets/icon/visa.svg') center/contain no-repeat;
  }
  &.benefits-section__item_credit::before {
    background: url('../assets/icon/credit.svg') center/contain no-repeat;
  }
}

/* property-section */

.property-section__title {
  margin-bottom: 59px;

  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: $main_fonts_color;
}

.property-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
}

.property-item {
  flex: 1 1 630px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 20px;

  height: 416px;
  padding: 0 0 30px 0;
}
.property-item_studios {
  background: url('../assets/img/studios.jpg') center/cover no-repeat;
}
.property-item_apartments {
  background: url('../assets/img/apartments.jpg') center/cover no-repeat;
}
.property-item_penthouses {
  background: url('../assets/img/penthouses.jpg') center/cover no-repeat;
}
.property-item_townhouse {
  background: url('../assets/img/townhouse.jpg') center/cover no-repeat;
}
.property-item_villas {
  background: url('../assets/img/villas.jpg') center/cover no-repeat;
}

.property-item__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  letter-spacing: 0.05em;

  color: $second_fonts_color;
}

.property-item__button {
  width: 258px;
  height: 46px;

  background: $main_buttons_bc_color;
  box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
  border-radius: 30px;

  font-weight: 600;
  font-size: 16px;
  color: $optional_buttons_bc_color;
}

/* data-section */

.data-section {
  padding: 130px 0 88px 25px;
}

.container.data-section__container {
  display: flex;
  align-items: center;

  max-width: 1651px;
  height: 321px;
}

.data-section__title {
  flex: 1 1 50%;

  padding: 15px 0 15px 31px;

  font-weight: 900;
  font-size: 44px;
  line-height: 77px;
  text-transform: uppercase;

  color: $main_fonts_color;

  border-left: 5px solid $main_fonts_color;
}

.data-list {
  flex: 1 1 52%;
  display: flex;

  padding: 56px 50px 56px 50px;

  background-color: $decor_color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 0px 0px 30px;
}

.data-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-right: 116px;

  &:last-child {
    margin-right: 0;
  }
}

.data-item__text {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;

  color: $second_fonts_color;
}

.data-item__index {
  margin: 22px 0;

  height: 93px;

  padding: 8px 0 0 5px;

  font-weight: 800;
  font-size: 70px;

  color: $main_fonts_color;

  border: 1px solid $second_fonts_color;
  border-left: none;
  border-right: none;
  span {
    font-size: 30px;
  }
}

/*  consultation-section */

.consultation-section {
  padding: 80px 0 90px 0;
  height: 398px;
  background: url('../assets/img/bg_city_2.jpg') center no-repeat;
}

.consultation-form__title {
  padding: 0 0 18px 0;

  font-weight: 800;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: $second_fonts_color;
}

.consultation-form__text {
  margin-bottom: 62px;

  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-align: center;

  color: $second_fonts_color;
}

.consultation-form__input-wrap {
  display: flex;
  gap: 20px;

  max-width: 1060px;
  margin: 0 auto;
}

.consultation-form__input {
  width: 100%;
  max-width: 385px;
  height: 57px;
  padding: 0 0 0 18px;

  &::placeholder {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #383838;
  }
}

.consultation-form__button {
  width: 250px;
  height: 57px;
  border-radius: 5px;

  background-color: $second_buttons_bc_color;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  text-align: center;
  text-transform: uppercase;

  color: $optional_buttons_bc_color;
}
