/* font */
$main_fonts_color: #24173d;
$second_fonts_color: #ffffff;

/* decor */
$decor_color: #ffc633;

/* buttons */
$main_buttons_bc_color: #fac86e;
$second_buttons_bc_color: #ffc633;
$optional_buttons_bc_color: #24173d;

/* link */

$link_color: #f8b500;
